<section class="banner">
  <div class="container mx-auto relative">
    <img src="assets/images/banner.png" alt="shoes" />

    <div class="limit-time absolute flex flex-col justify-around">
      <p class="limit-time__text text-center uppercase">Limited offer</p>
      <p class="limit-time__clock text-center">
        {{ limitTime }}
      </p>
    </div>
    <div class="price absolute flex flex-col justify-around">
      <p class="line-through decoration-yellow-600 price__old text-center">
        R {{ oldPrice }}
      </p>
      <p class="price__new text-center">R {{ newPrice }}</p>
    </div>
  </div>
</section>
