.logo {
  &__bg {
    background-color: #ffd1ac;
  }

  &__img {
    width: 218px;
    padding: 19px 0;
  }

  &__text {
    padding-top: 10px;
    font-size: 13.47px;
    line-height: 12.89px;
  }
}
