<section class="main container mx-auto bg">
  <div class="header flex justify-between items-baseline">
    <div class="header__score">Excellent 4.8/5</div>
    <div class="header__marker">
      <img src="/assets/images/mark.png" alt="" />
    </div>
    <div class="header__recommendation">best selling</div>
  </div>

  <h2 class="main__title">Orthopedic Slippers</h2>

  <div class="main__body">
    <mat-tab-group>
      <mat-tab>
        <ng-template mat-tab-label>
          <img src="/assets/images/1.png" alt="black" />
        </ng-template>
        <img src="/assets/images/black.png" alt="black" />
      </mat-tab>
      <mat-tab>
        <ng-template mat-tab-label>
          <img src="/assets/images/2.png" alt="orange" />
        </ng-template>
        <img src="/assets/images/orange.png" alt="orange" />
      </mat-tab>
      <mat-tab>
        <ng-template mat-tab-label>
          <img src="/assets/images/3.png" alt="pink" />
        </ng-template>
        <img src="/assets/images/pink.png" alt="pink" />
      </mat-tab>
      <mat-tab>
        <ng-template mat-tab-label>
          <img src="/assets/images/5.png" alt="yellow" />
        </ng-template>
        <img src="/assets/images/yellow.png" alt="yellow" />
      </mat-tab>
    </mat-tab-group>

    <div class="body__info">
      <div class="flex items-center">
        <span class="font-bold">Fast Delivery:&nbsp;</span>
        {{ fastDelivery }} days from SA<img
          class="body__icon"
          src="https://img.freepik.com/free-vector/illustration-south-africa-flag_53876-27118.jpg?w=1480&t=st=1695216581~exp=1695217181~hmac=b1293fa5dd9a395ed00b0173cff7a461e9bf8d1399b626af36713f272368f1a4"
          alt="flag"
        />
      </div>
    </div>

    <div class="body__info">
      <div class="flex items-center">
        <span class="font-bold">In Stock:&nbsp;</span> Shipping from
        Johannesburg
        <img
          class="body__icon"
          src="https://img.freepik.com/free-vector/illustration-south-africa-flag_53876-27118.jpg?w=1480&t=st=1695216581~exp=1695217181~hmac=b1293fa5dd9a395ed00b0173cff7a461e9bf8d1399b626af36713f272368f1a4"
          alt="flag"
        />
      </div>
    </div>

    <div class="flex items-center">
      <div class="w-4 h-4 mx-0.5">
        <img
          ngSrc="/assets/images/star.png"
          alt="stars"
          height="14"
          width="14"
        />
      </div>
      <div class="w-4 h-4 mx-0.5">
        <img
          ngSrc="/assets/images/star.png"
          alt="stars"
          height="14"
          width="14"
        />
      </div>
      <div class="w-4 h-4 mx-0.5">
        <img
          ngSrc="/assets/images/star.png"
          alt="stars"
          height="14"
          width="14"
        />
      </div>
      <div class="w-4 h-4 mx-0.5">
        <img
          ngSrc="/assets/images/star.png"
          alt="stars"
          height="14"
          width="14"
        />
      </div>
      <div class="w-4 h-4 mx-0.5">
        <img
          ngSrc="/assets/images/star.png"
          alt="stars"
          height="14"
          width="14"
        />
      </div>
      <div class="px-2.5">(10)</div>
    </div>
  </div>
</section>
